@import "mixins";
@import "variables";
* {
  padding: 0;
  margin: 0;
}

.App {
  background-color: $color;
    height: 160vh;
    padding: 1%;
    color: white;
    font-size: 2em;
    margin: 0 auto;

}
#grid {
  float: left;
  width: 100%;
  > div {
@include grid(4, 2%);
  }
}
a {
  @include links(yellow, black, blue, green);
}
.link {
  padding: 12px;
}

.block:not(.first) {
  @include pad(20px 40px);
color: white;
  background-color: darkorange;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#central-block {
  padding: 30px;

  ul {
    list-style: none;
    display: inline-block;
    width: 100%;

    a {
      @include fontSize (blue, bold);
        text-decoration: underline;
&:hover {
  color: grey;
}
    }
  }
  li {
    width: (100% / 4);
    float: left;

  }
  }


  .App2 {
    background-color: gainsboro;
    border: solid 2px black;
    height: 140vh;
    padding: 1%;
    color: black;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;

  }

  img {
    width: 50%;
    margin: 2em;
    border-radius: 14%;
  }
