$color: grey;
@mixin links($link, $visited, $hover, $active) {

    color: $link;

    &:hover {
      color: $hover;
    }

    &:active {
      color: $active;
    }

    &:visited {
      color: $visited;
    }
  }


.App {
  background-color: $color;
    height: 160vh;
    padding: 1%;
    color: white;
    font-size: 2em;
    margin: 0 auto;
  a {

    @include links(yellow, black, blue, green);
  }
}
* {
  padding: 0;
  margin: 0;
}

@mixin fontSize ($color, $fontW) {
  font-size: 1.1em;
  font-weight: $fontW;
  font-family: "Arial Narrow", sans-serif;
  color: $color;
}

@mixin pad ($pad...) {
  padding: $pad;
}

.block:not(.first) {
  @include pad(20px 40px);
color: white;
  background-color: darkorange;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#central-block {
  padding: 30px;

  ul {
    list-style: none;
    display: inline-block;

    a {
      @include fontSize (blue, bold);
        text-decoration: underline;
&:hover {
  color: grey;
}
    }
  }
  }


  .App2 {
    background-color: blanchedalmond;
    border: solid 2px black;
    height: 140vh;
    padding: 1%;
    color: black;
    font-size: 2em;
    margin: 0 auto;
    text-align: center;

  }

  img {
    width: 50%;
    margin: 2em;
    border-radius: 14%;
  }
