@mixin grid ($cols, $margin) {
float:left;
  background-color: darkorange;
  margin-right: $margin;
  margin-bottom: $margin;
  height: 150px;
 width: ((100% - (($cols - 1)  * $margin)) / $cols);

 &:nth-child(#{$cols}n) {
margin-right: 0;
}
}


@mixin links ($link, $visit, $hover, $active) {
  a {
    color: $link;

    &:hover {
      color: $hover;
    }

    &:active, &:focus {
      color: $active;
    }

    &:visited {
      color: $visit;
    }
  }
}


@mixin fontSize ($color, $fontW) {
  font-size: 1.1em;
  font-weight: $fontW;
  font-family: "Arial Narrow", sans-serif;
  color: $color;
}

@mixin pad ($pad...) {
  padding: $pad;
}
