@mixin grid ($cols, $margin) {
float:left;
  background-color: gray;
  margin-bottom: $margin;
  height: 30vh;
  @if($cols >=5) {
    width:100%;
    margin-right: 0;
  } @else {
    width: ((100% - (($cols - 1)  * $margin)) / $cols);
    margin-right: $margin;
  }


 &:nth-child(#{$cols}n) {
margin-right: 0;
}
}
//@for $i from 24 to 29 {
//.#{$someVar}-#{$i} {
//  width: 50px + $i;
//  height: 50px + $i;;
//}
//}

@mixin links ($link, $visit, $hover, $active) {
  & {
    color: $link;


    &:hover {
      color: $hover;
    }

    &:active, &:focus {
      color: $active;
    }

@content;
  }
}


@mixin fontSize ($color, $fontW) {
  font-size: 1.1em;
  font-weight: $fontW;
  font-family: "Arial Narrow", sans-serif;
  color: $color;
}

@mixin pad ($pad...) {
  padding: $pad;
}
